In [3]:
%matplotlib inline

%load_ext autoreload
%autoreload 2

import pandas as pd
import matplotlib
import numpy as np
import matplotlib.pyplot as plt

TRANSACTIONS_FILEPATH = "/data/transaction-data/transactions-1-19-20.csv"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
transactions = pd.read_csv(TRANSACTIONS_FILEPATH)
print(f"{len(transactions)} Transactions:")
transactions.head()

1948 Transactions:

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,1/15/2020,Domino Data Lab Direct Dep,Domino Data Lab Direct Dep,2974.63,credit,Paycheck,Abhijeet,NaN,NaN
1,1/15/2020,Hulu,HLU*HULU 289346993148,11.99,debit,Movies & DVDs,Platinum Mastercard,NaN,NaN
2,1/14/2020,Venmo,Venmo Payment,1.93,debit,Transfer,Abhijeet,NaN,NaN
3,1/14/2020,Venmo,Venmo Payment,27.41,debit,Transfer,Abhijeet,NaN,NaN
4,1/14/2020,Venmo,Venmo Payment,1.95,debit,Transfer,Abhijeet,NaN,NaN

In [5]:
# What are the categories I spend in, and how much do I spend?
CATEGORY = "Category"
AMOUNT = "Amount"

# Select the last 4 months
DATE_START = '8/01/2019'

def date_filter(df, start, end=None, date_col="Date"):
    start_time = pd.to_datetime(start)
    datetime_df = pd.to_datetime(df[date_col])
    mask = datetime_df >= start
    if end is not None:
        end_time = pd.to_datetime(end)
        mask &= datetime_df < end
    return df[mask]

# print(date_filter(transactions, date_start)['Date'])

def amounts_by_category(df):
    return df[[CATEGORY, AMOUNT]].groupby([CATEGORY]).sum().sort_values(by=AMOUNT, ascending=False)

last_4_months = date_filter(transactions, date_start)
print(f"{len(last_4_months)} Transactions:")
amounts_by_category(last_4_months)

NameError: name 'date_start' is not defined

Looks like some categories are off. For example Wealthfront -> Auto Insurance and I don't really know what "Tuition" is. There is also no indication of what is income and what is an expenditure. My real substantial spending occurs with Discover and Capital One, so let's just filter on those and see what the data looks like then.

In [31]:
# What are the accounts being used?
ACCOUNT_COL = "Account Name"
accounts = last_4_months[ACCOUNT_COL].unique()
print(accounts)
for account in accounts:
    display(last_4_months[last_4_months[ACCOUNT_COL] == account].head())

# credit_card_transactions = last_4_months[last_4_months["Account Name"] == "Discover"]

['Discover' 'Abhijeet' "Guideline's Very Aggressive Portfolio"
 'Individual Investment Account' "Guideline's Aggressive Portfolio"
 'Platinum Mastercard' 'Individual Cash Account' 'CREDITCARD Account']

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,1/02/2020,Panera Bread,PANERA BREAD #204846,27.55,debit,Fast Food,Discover,NaN,NaN
7,1/02/2020,Amazon,AMAZON.COM*JY30I73D3 AMZN.COM/BILLWACS62IO0N477,26.74,debit,Shopping,Discover,NaN,NaN
10,1/02/2020,WINC 855-282-5829 CAGOOGLE PAY ENDING IN 7678,WINC 855-282-5829 CAGOOGLE PAY ENDING IN 7678,59.95,debit,Alcohol & Bars,Discover,NaN,NaN
20,12/30/2019,CVS,CVS/PHARMACY #03477 CENTERVILLE OH,154.97,debit,Pharmacy,Discover,NaN,NaN
21,12/30/2019,Kroger Fuel,KROGER FUEL #4923 CENTERVILLE OH,23.46,debit,Gas & Fuel,Discover,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
1,1/03/2020,Wealthfront Inc Edi Pymnts,Wealthfront Inc Edi Pymnts,1000.00,debit,Auto Insurance,Abhijeet,NaN,NaN
2,1/03/2020,Capital One Mobile payment,Capital One Mobile Pmt,29.66,debit,Credit Card Payment,Abhijeet,NaN,NaN
8,1/02/2020,Wealthfront Inc Edi Pymnts,Wealthfront Inc Edi Pymnts,2300.00,debit,Auto Insurance,Abhijeet,NaN,NaN
14,1/01/2020,Interest Credit,Interest Credit,0.01,credit,Interest Income,Abhijeet,NaN,NaN
15,1/01/2020,Interest Credit,Interest Credit,5.60,credit,Interest Income,Abhijeet,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
3,1/03/2020,PayrollDeduction,PayrollDeduction,233.33,credit,Investments,Guideline's Very Aggressive Portfolio,NaN,NaN
38,12/24/2019,DividendUnit,DividendUnit,1.02,credit,Investments,Guideline's Very Aggressive Portfolio,NaN,NaN
39,12/24/2019,DividendUnit,DividendUnit,2.54,credit,Investments,Guideline's Very Aggressive Portfolio,NaN,NaN
40,12/24/2019,DividendUnit,DividendUnit,1.72,credit,Investments,Guideline's Very Aggressive Portfolio,NaN,NaN
41,12/24/2019,DividendUnit,DividendUnit,3.74,credit,Investments,Guideline's Very Aggressive Portfolio,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
4,1/03/2020,Investment,Investment,1003.86,credit,Investments,Individual Investment Account,NaN,NaN
5,1/03/2020,Deposit,Deposit,1000.00,credit,Investments,Individual Investment Account,NaN,NaN
11,1/02/2020,Investment,Investment,2332.23,credit,Investments,Individual Investment Account,NaN,NaN
12,1/02/2020,Advisory Fee,Advisory Fee,0.60,debit,Trade Commissions,Individual Investment Account,NaN,NaN
13,1/02/2020,Deposit,Deposit,2300.00,credit,Investments,Individual Investment Account,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
6,1/03/2020,PayrollDeduction,PayrollDeduction,233.33,credit,Investments,Guideline's Aggressive Portfolio,NaN,NaN
42,12/24/2019,DividendUnit,DividendUnit,1.02,credit,Investments,Guideline's Aggressive Portfolio,NaN,NaN
43,12/24/2019,DividendUnit,DividendUnit,1.72,credit,Investments,Guideline's Aggressive Portfolio,NaN,NaN
44,12/24/2019,DividendUnit,DividendUnit,2.54,credit,Investments,Guideline's Aggressive Portfolio,NaN,NaN
45,12/24/2019,DividendUnit,DividendUnit,3.74,credit,Investments,Guideline's Aggressive Portfolio,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
9,1/02/2020,CAPITAL ONE MOBILE payment AuthDate 02-Jan,CAPITAL ONE MOBILE PYMT AuthDate 02-Jan,29.66,credit,Credit Card Payment,Platinum Mastercard,NaN,NaN
94,12/16/2019,Hulu,HLU*HULU 289346997369,11.99,debit,Movies & DVDs,Platinum Mastercard,NaN,NaN
102,12/13/2019,INTEREST CHARGE:PURCHASES,INTEREST CHARGE:PURCHASES,6.87,debit,Finance Charge,Platinum Mastercard,NaN,NaN
103,12/13/2019,SQUARE *HRDTM,SQUARE *SQ *HRDTM,10.80,debit,Restaurants,Platinum Mastercard,NaN,NaN
117,12/11/2019,CAPITAL ONE MOBILE payment AuthDate 11-Dec,CAPITAL ONE MOBILE PYMT AuthDate 11-D ec,480.17,credit,Credit Card Payment,Platinum Mastercard,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
168,12/01/2019,Interest,Interest,0.02,credit,Interest Income,Individual Cash Account,NaN,NaN
251,11/04/2019,Transfer,Transfer,101.00,debit,Transfer,Individual Cash Account,NaN,NaN
266,11/01/2019,Interest,Interest,0.18,credit,Interest Income,Individual Cash Account,NaN,NaN
380,10/01/2019,Interest,Interest,0.18,credit,Interest Income,Individual Cash Account,NaN,NaN

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
528,8/22/2019,Taco Bell,TACO BELL #031685,8.67,debit,Fast Food,CREDITCARD Account,NaN,NaN
529,8/22/2019,Yelp Cashback,YELP CASHBACK,5.41,credit,Credit Card Payment,CREDITCARD Account,NaN,NaN
535,8/21/2019,gotinder.com/help,gotinder.com/help,5.99,debit,Coffee Shops,CREDITCARD Account,NaN,NaN
552,8/19/2019,SQUARE *SOUVL,SQUARE *SQ *SOUVL,20.53,debit,Restaurants,CREDITCARD Account,NaN,NaN
553,8/19/2019,SQU*PHILZ COFFEE,SQU*SQ *PHILZ COFFEE,5.81,debit,Coffee Shops,CREDITCARD Account,NaN,NaN

Based on what I see above, here's a description of each account:

* "Discover" - These are all payments to or from my Discover It Credit Card
* "Abhijeet" - This seems to be my Simple Bank Account. Money is used to transfer to Wealthfront or to pay credit card bills. Interest from Simple is also included in transactions for this account.
* "Guideline's Very Aggressive Portfolio" - This is my 401k account with my new "Very Aggressive" strategy
* "Individual Investment Account" - This is my Wealthfront Investment Account
* "Guideline's Aggressive Portfolio" - This is my 401k account with my older "Aggressive" strategy
* "Platinum Mastercard" - These are all payments to or from my Capital One Card
* "Individual Cash Account" - This is my Wealthfront cash account. I don't use it anymore, but it's accruing a little bit of interest with whatever money is left in there.
* "CREDITCARD Account" - These are payments to some credit card account? I think it's my old Capital One card

In [42]:
# Let's hone in on the credit card spending and remove any credits for the account. I want to get an idea of what I'm spending on

CREDIT_CARDS = {"Discover", "Platinum Mastercard", "CREDITCARD Account"}
TRANSACTION_TYPE = "Transaction Type"

def filter_credit_cards(df):
    return df.loc[df[ACCOUNT_COL].isin(CREDIT_CARDS)]

def filter_expenditures(df):
    return df.loc[df[TRANSACTION_TYPE] == "debit"]

credit_card_expenditures = filter_expenditures(filter_credit_cards(last_4_months))
amounts_by_category(credit_card_expenditures)

                         Amount
Category
Shopping                3820.44
Credit Card Payment     3255.70
Air Travel              2722.81
Restaurants             1659.46
Rental Car & Taxi       1026.66
Groceries                573.09
Alcohol & Bars           455.65
Pharmacy                 355.02
Tuition                  294.00
Coffee Shops             240.41
Fast Food                223.04
Charity                  209.00
Hotel                    206.42
Hair                     186.05
Gift                     168.31
Advertising              155.42
Internet                  90.30
Business Services         88.14
Home Improvement          86.43
Movies & DVDs             85.13
Food & Dining             83.40
Entertainment             79.53
Doctor                    64.17
Furnishings               49.71
Electronics & Software    43.18
Kids Activities           33.50
Public Transportation     30.00
Gas & Fuel                23.46
Personal Care             21.70
Auto Payment              16.75
Amusement                 16.18
Books                     15.95
Finance Charge             6.87
Shipping                   1.45

So *Shopping*, *Air Travel*, and *Restaurants* are some of the highest spending categories on my Credit Card. That makes sense judging by what I remember spending on. What is *Credit Card Payment* though? And why is it a debit?

In [43]:
credit_card_expenditures[credit_card_expenditures[CATEGORY] == "Credit Card Payment"]

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
578,8/14/2019,RETURNED INTERNET payment,RETURNED INTERNET PMT,3255.7,debit,Credit Card Payment,Discover,NaN,NaN

It's just one *RETURNED INTERNET PMT*. This was back in August when I had made some a payment to my Discover Card, but I remember for some reason I undid it, or it didn't go through. I should disregard this, because this is a net zero charge on my card when accounting for the attempted credit card payment.

In [48]:
credit_card_expenditures = credit_card_expenditures[credit_card_expenditures[CATEGORY] != "Credit Card Payment"]
amounts_by_category(credit_card_expenditures)

                         Amount
Category
Shopping                3820.44
Air Travel              2722.81
Restaurants             1659.46
Rental Car & Taxi       1026.66
Groceries                573.09
Alcohol & Bars           455.65
Pharmacy                 355.02
Tuition                  294.00
Coffee Shops             240.41
Fast Food                223.04
Charity                  209.00
Hotel                    206.42
Hair                     186.05
Gift                     168.31
Advertising              155.42
Internet                  90.30
Business Services         88.14
Home Improvement          86.43
Movies & DVDs             85.13
Food & Dining             83.40
Entertainment             79.53
Doctor                    64.17
Furnishings               49.71
Electronics & Software    43.18
Kids Activities           33.50
Public Transportation     30.00
Gas & Fuel                23.46
Personal Care             21.70
Auto Payment              16.75
Amusement                 16.18
Books                     15.95
Finance Charge             6.87
Shipping                   1.45